.signup-forms {
  font-family: VarelaRound-Regular;
  /* background-color: #1976d2; */
  /* background-image: linear-gradient(141deg, #115293 0%, #1976d2 51%, #5e9fdf 75%); */
  /* background-image: linear-gradient(141deg, #000 0%, #304FFE 51%, #ddd 75%); */
  background-image: linear-gradient(to left, #1976d2, #115293);
  padding: 2em .5em 2em .5em;
}
.signup-forms .container {
  width: 500px;
  padding: 50px 85px 50px 85px;
  background-color: #fff;
  border-radius: 2%;
}
.signup-title {
  font-family: OpenSans-Bold;
  margin-bottom: 40px;
  font-size: 24px;
  text-align: center;
}
.signup-group {
  display: block;
  margin: auto;
}
.signup-group .input-group {
  margin-bottom: 20px;
}
.signup-group .input-group .form-control {
  font-size: 14px;
  font-family: inherit;
  padding: 25px 20px 25px 20px;
  transition: border-color ease-in-out .3s;
}
.signup-forms .form-group > button {
  border: none;
  background-color: #1976d2;
  transition: background-color ease-in-out .3s;
}
.signup-forms .form-group > button:hover {
  background-color: #115293;
}
.signup-forms .form-group > label {
  font-size: 14px;
}
.signup-group .input-group .form-control:active {
  border-color: linear-gradient(to left, #1976d2, #115293);
}
@media only screen and (max-width: 768px) {
  .signup-forms .container {
    padding: 20px 40px 20px 40px;
    width: 300px;
  }
  .signup-title {
    font-size: 18px;
  }
}
