<div class="signup-forms">
  <div class="container">
    <h5 class="signup-title">CREATE ACCOUNT</h5>
    <div class="signup-group">
      <form #form="ngForm" novalidate>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Name" required="required"
            name="name" [(ngModel)]="user.name">
        </div>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Email" required="required" name="name" [(ngModel)]="user.email">
        </div>
        <div class="input-group">
          <input type="password" class="form-control"
            placeholder="Password" required="required" name="name" [(ngModel)]="user.password">
          </div>
          <div class="input-group">
            <input type="password" [ngClass]="'form-control-signup'" class="form-control" placeholder="Confirm Password"
            required="required" name="name" [(ngModel)]="user.confirm_password">
          </div>
          <div class="form-group">
            <label>
              <input type="checkbox">
              I agree all statements in <a href="#" class="term-service">Terms of service</a>
              <br>
            </label>
        </div>
        <div class="form-group">
          <button type="button" class="btn-login btn-primary btn-block btn-lg">Sing Up</button>
        </div>
      </form>
      <p class="signup-login">
        Have already an account?
        <a href="login">Login here</a>
      </p>
    </div>
  </div>
</div>
