.signup-header {
  padding: 1.5em 2em 1.5em 2em;
  box-sizing: border-box;
  border-bottom: 1px solid #E0E0E0;
}
.signup-nav {
  /* display: flex;
  justify-content: space-between; */
  text-align: center;
}
.signup-nav-link {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  color: #00ce81;
  font-family: OpenSans-Bold;
  font-size: 1.3em;
  transition: all ease-in-out .3s;
}
.signup-nav-link:hover {
  box-sizing: border-box;
  border-bottom: 1px solid #00ce81;
}
@media only screen and (max-width: 768px) {
  .signup-nav {
    flex-direction: column;
  }
}
