<nav class="navbar-boilerplate navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="#">Angular Boilerplate</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link app-home-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link app-contact-link" href="#">Contact <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul *ngIf="showMenu" class="navbar-nav navbar-right">
        <li class="nav-item active">
          <a class="nav-link app-login-link" routerLink="/login">Login <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link app-singup-link" routerLink="/signup">Sing Up <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul *ngIf="!showMenu" class="nav navbar-nav">
        <li class="dropdown user user-menu">
          <a class="dropdown-toggle" data-toggle="dropdown">
            <img src="{{ user.imageUrl }}" class="user-image" alt="User Image">
            <span class="user-name">{{ user.name }}</span>
          </a>
          <ul class="dropdown-menu">
            <li class="user-footer">
              <div class="pull-left">
                <a [routerLink]="[ '/dashboard/overview']" class="btn btn-default btn-flat">Dashboard</a>
              </div>
              <div class="pull-right">
                <a (click)="logout()" class="btn btn-default btn-flat">Sign out</a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
